<div class="card">
    <div class="card-header">
        Minhas viagens
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Destino</th>
                    <th>Tipo</th>
                    <th>Data de chegada</th>
                    <th>Data de saída</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of viagens">
                    <td>{{item.destino}}</td>
                    <td>{{item.tipo}}</td>
					<td>{{ item.chegada | date:'dd/MM/yyyy' }}</td>
                    <td>{{ item.saida | date:'dd/MM/yyyy' }}</td>
                    <td>
                        <button type="submit" class="btn btn-secondary btn-sm" routerLink="detalhes-viagem/{{item.id}}">
                            Detalhes
                        </button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-warning btn-sm" routerLink="exclusao-viagem/{{item.id}}">
                            Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
