<div class="card">
    <div class="card-header">
        Cadastro de viagens
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label for="nome"class="col-md-4 col-form-label text-md-right">
                Destino
            </label>
            <div class="col-md-6">
                <input id="destino" type="text" name="destino" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label for="nome"class="col-md-4 col-form-label text-md-right">
                Tipo
            </label>
            <div class="col-md-6">
                <input id="tipo" type="text" name="tipo" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label for="dataInicio" class="col-md-4 col-form-label text-md-right">
                Data de chegada
            </label>
            <div class="col-md-6">
                <input id="dataChegada" type="date" name="dataChegada" required="required" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="dataFim" class="col-md-4 col-form-label text-md-right">
                Data de saída
            </label>
            <div class="col-md-6">
                <input id="dataSaida" type="date" name="dataSaida" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label for="valor" class="col-md-4 col-form-label text-md-right">
                Orçamento
            </label>
            <div class="col-md-6">
                <input id="orcamento" type="text" name="orcamento" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label for="telefone" class="col-md-4 col-form-label text-md-right">
                Qtde. pessoas
            </label>
            <div class="col-md-6">
                <input id="pessoas" type="text" name="pessoas" required="required" class="form-control"/>
            </div>
        </div>
        <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary btn-sm">
                    Enviar
                </button>
            </div>
        </div>
    </div>
</div>